# PART 1

In [1]:
import pandas as pd

### Scraping data using pd.read_html() as i feel it is easier to use.

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

raw_data = pd.read_html(url)

In [3]:
type(raw_data)

list

### Converting to a DF

In [4]:
df = raw_data[0]

df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.shape

(288, 3)

In [7]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Renaming column names

In [8]:
df.columns = ['PostalCode','Borough','Neighborhood']
df.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [9]:
df.isnull().any()

PostalCode      False
Borough         False
Neighborhood    False
dtype: bool

### To get rid of rows with no Borough names, I set Borough as index and used drop method to drop rows.

In [10]:
df_clean = df.set_index("Borough")

In [11]:
df_clean = df_clean.drop("Not assigned", axis = 0)

In [12]:
df_clean.head()

                 PostalCode      Neighborhood
Borough
North York              M3A         Parkwoods
North York              M4A  Victoria Village
Downtown Toronto        M5A      Harbourfront
Downtown Toronto        M5A       Regent Park
North York              M6A  Lawrence Heights

In [13]:
df_clean2 = df_clean.reset_index()
df_clean2.head()

            Borough PostalCode      Neighborhood
0        North York        M3A         Parkwoods
1        North York        M4A  Victoria Village
2  Downtown Toronto        M5A      Harbourfront
3  Downtown Toronto        M5A       Regent Park
4        North York        M6A  Lawrence Heights

In [14]:
df_clean2 = df_clean2.set_index("PostalCode")
df_clean2.head()

                     Borough      Neighborhood
PostalCode
M3A               North York         Parkwoods
M4A               North York  Victoria Village
M5A         Downtown Toronto      Harbourfront
M5A         Downtown Toronto       Regent Park
M6A               North York  Lawrence Heights

In [15]:
df_clean3 = df_clean2.reset_index()
df_clean3.head()

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights

### Grouping same Neighborhoods under common Boroughs using commas

In [16]:
df_grouped = df_clean3.groupby(["PostalCode", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
df_grouped.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

### Checking for Neighborhoods with no name

In [17]:
df_grouped[df_grouped['Neighborhood'] == 'Not assigned']

   PostalCode       Borough  Neighborhood
85        M7A  Queen's Park  Not assigned

### Assigning such neighborhoods name of their Borough

In [18]:
for index, row in df_grouped.iterrows():
    if row["Neighborhood"] == "Not assigned":
        row["Neighborhood"] = row["Borough"]
        
df_grouped.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [19]:
df_grouped[df_grouped['PostalCode'] == 'M7A']

   PostalCode       Borough  Neighborhood
85        M7A  Queen's Park  Queen's Park

### Finally, printing the shape of the final DF

In [20]:
df_grouped.shape

(103, 3)


# PART 2

### Loading lat & longitude data from the provided CSV

In [28]:
df_coord = pd.read_csv("Geospatial_Coordinates.csv")
df_coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [23]:
df_coord.columns = ['PostalCode','Latitude','Longitude']

In [24]:
df_coord.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

### Merging the new DF with the original by using pandas. 

### Used merge to join on Postal Codes as a key

In [27]:
df_combined = pd.merge(df_grouped, df_coord, how="left", on ="PostalCode")
df_combined.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [26]:
df_combined.isnull().any()

PostalCode      False
Borough         False
Neighborhood    False
Latitude        False
Longitude       False
dtype: bool